<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC | By Id</title>
</head>
<body>
    <h1>ini user by id</h1>
    <li>
        id : <%= userData.id %> <%= userData.nama %>
    </li>
</body>
</html>